body {
  background-color: #000a12;
}

h1 {
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.box-main {
  width: 550px;
}
.box-contianer {
  display: flex;
  justify-content: space-between;
}
.box {
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 99px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* align-items: center;*/
  justify-content: center;
  /* font-size: 10px; */
  text-align: center;
  line-height: 0px;
}
.case-in-pak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cases-in-country {
  text-align:center
}
.logo {
  width: 10%;
  margin-top: 2%;
}
.logo-image {
  width: 100%;
}

.bg-dark {
  background-color: #151f3c !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.global-box-main {
  display: flex;
  width: 1050px;

  justify-content: center;
}
.global-box {
  margin-top: 3%;
  line-height: 0px;
  text-align: center;
  width: 430px;
  border-radius: 8px;
  color: white;
  padding: 5px;
}
.box-1 {
  background-color: rgb(96, 31, 212);
}
.box-2 {
  background-color: red;
}
.box-3 {
  background-color: green;
}

.search-container {
  margin: 0% auto;
  
  /* display: flex; */
  /* justify-content: center; */
}
.seach-main {
  width: 95%;
  margin: 1% auto;
  margin-bottom: 0px;
}
.chart-container {
  width: 850px;
  margin: 0 auto;
  margin-bottom: 10px ;

  height: 45vh;
  /* width: 80vw; */
}
.navbar-toggler {
  background-color: white;
}
.search-box-main{
  margin: 0 auto;
  
  display: flex;

  width: 1050px;

  justify-content: space-between;
}